/* Base nav styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10rem;
    padding: 3rem;
    height: 70px;
    background: #ebedee;        /* royal blue */
    box-shadow: 0px 14px 12px rgba(0,0,0,0.05);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid  rgba(0, 0, 0, .1);
  }
  
  /* Logo */
  .navbar-logo img {
    height: 10rem;
    cursor: pointer;
  }
  
  /* Link list */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
  }
  
    /* Individual links */
    .navbar-links li a {
      color: #5f5b5b;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;
      transition: color 0.2s, transform 0.2s;
    }
    
    .navbar-links li a:hover {
      color: #787373;
      transform: translateY(-2px);
    }
  